server:
  port: 8080

spring:
  application:
    name: wanted

  datasource:
    url: jdbc:mysql://localhost:3306/${DB_DATABASE_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver # mysql 8버전
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    defer-datasource-initialization: true
    hibernate:
#      ddl-auto: create-drop
#      ddl-auto: update
    ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always
      continue-on-error: true
#      data-locations: data.sql


jwt:
  header: Authorization
  secret: TestToken1234sadhfkjahlui3421o4798fshjkasdf
  token-validity-in-seconds: 86400
